#container,
#map
{
    box-shadow: 3px 3px black;
    background-color: rgb(241, 200, 145);
    font-family: 'EB Garamond', serif;
    border-style: solid;
    border-color: darkgreen;
    /* border-radius: 12px; */
    margin: 5px;
    padding-bottom: 10px;
    padding: 5px;
}
.row
{
    font-family: 'EB Garamond', serif;
}
.pantry
{
    height: 600px;
    background-color: bisque;
    box-shadow: 5px 3px;
    text-align: center;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgreen;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'EB Garamond', serif;
}
#add {
    position: absolute;
    bottom: 10px;
    left: 60px;
}
#submit {
    position: absolute;
    bottom: 10px;
    right: 60px;
}
#ingList {
    position: absolute;
    bottom: 60px;
    right: 16px;
    width: 90%;
    border-style: solid;
    border-color: black;
    height: 300px;
}
.recipe
{
    position: relative;
    background-color: bisque;
    box-shadow: 5px 3px;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgreen;
    margin: 10px;
    font-family: 'EB Garamond', serif;
}
#h1
{
    text-align: center;
    height: 80px;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    color: darkgreen;
    border-style: solid;
    border-color: darkgreen;
    /* border-radius: 12px; */
    font-family: 'EB Garamond', serif;
}
.maps
{
    visibility: hidden;
    background-color: bisque;
    box-shadow: 5px 3px black;
    height: 800px;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgreen;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    font-size: 24px;
}

#map_canvas {
    height: 100%;
}

#h
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    color: darkgreen;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
}
.btn
{
    box-shadow: 2px 2px black;
    background-color: darkgreen;
    border-radius: 12px;
    margin-left: 10px;
    font-family: 'EB Garamond', serif;
    color: whitesmoke;
    
}
.dropdown-menu
{
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
}
.dropdown-item
{
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
}
#p
{
    font-size: 24px;
    color: darkgreen;
    font-family: 'EB Garamond', serif;
    text-align: center;
    background-color: bisque;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 12px;
    box-shadow: 3px 3px black;
}
#h1
{
    font-family: 'EB Garamond', serif;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> origin
}
#h2
{
    text-decoration: underline;
    text-decoration-color: darkgreen;
}

<<<<<<< HEAD



=======
    background-color: bisque;
    box-shadow: 3px 3px black;
}
>>>>>>> master
=======
#getCard {
    position: absolute;
    bottom: 5%;
    left: 30%;
}

#getDirections {
    position: absolute;
    bottom: 5%;
    right: 30%;
}

.box {
    float: left;
    height: 70%;
    width: 32%;
    margin: 5px;
    padding: 50px;
    
}

.card {
    border: 3px solid darkgreen !important;
    border-radius: 5px !important;
    background-color: #f1c891 !important;
}


    /* background-color: bisque;
    box-shadow: 3px 3px black;
} */
>>>>>>> origin
