#container,
#map
{
    box-shadow: 3px 3px black;
    background-color: rgb(241, 200, 145);
    font-family: 'EB Garamond', serif;
    border-style: solid;
    border-color: darkgreen;
    /* border-radius: 12px; */
    margin: 5px;
    padding-bottom: 10px;
    padding: 5px;
}
.row
{
    font-family: 'EB Garamond', serif;
}
.pantry
{
    height: 600px;
    background-color: bisque;
    box-shadow: 5px 3px;
    text-align: center;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgreen;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'EB Garamond', serif;
}
#add {
    position: absolute;
    bottom: 10px;
    left: 60px;
}
#submit {
    position: absolute;
    bottom: 10px;
    right: 60px;
}
#ingList {
    position: absolute;
    bottom: 60px;
    right: 16px;
    width: 90%;
    border-style: solid;
    border-color: black;
    height: 300px;
}
.recipe
{
    background-color: bisque;
    box-shadow: 5px 3px;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgreen;
    margin: 10px;
    font-family: 'EB Garamond', serif;
}
#h1
{
    text-align: center;
    height: 80px;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    color: darkgreen;
    border-style: solid;
    border-color: darkgreen;
    /* border-radius: 12px; */
    font-family: 'EB Garamond', serif;
}
.map
{
    background-color: bisque;
    box-shadow: 5px 3px black;
    height: 400px;
    border-style: solid;
    border-radius: 12px;
    border-color: darkgreen;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    font-size: 24px;
}
#h
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    color: darkgreen;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
}
.btn
{
    box-shadow: 2px 2px black;
    background-color: darkgreen;
    border-radius: 12px;
    margin-left: 10px;
    font-family: 'EB Garamond', serif;
    color: whitesmoke;
    
}
.dropdown-menu
{
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
}
.dropdown-item
{
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
}
#p
{
    font-size: 24px;
    color: darkgreen;
    font-family: 'EB Garamond', serif;
    text-align: center;
    background-color: bisque;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 12px;
    box-shadow: 3px 3px black;
}
#h1
{
    font-family: 'EB Garamond', serif;
<<<<<<< HEAD
}
#h2
{
    text-decoration: underline;
    text-decoration-color: darkgreen;
}




=======
    background-color: bisque;
    box-shadow: 3px 3px black;
}
>>>>>>> master
