#container
{
    box-shadow: 3px 3px black;
    background-color: rgb(241, 200, 145);
    font-family: 'EB Garamond', serif;
    border-style: solid;
    border-color: darkgreen;
    margin: 5px;
    padding-bottom: 10px;
    padding: 5px;
}
.row
{
    font-family: 'EB Garamond', serif;
}
.pantry
{
    height: 600px;
    background-color: bisque;
    box-shadow: 5px 3px;
    text-align: center;
    border-style: solid;
    border-radius: 6px;
    border-color: darkgreen;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-family: 'EB Garamond', serif;
}
#pantry2
{
    background-color: bisque;
    box-shadow: 3px 3px black;
    margin: 5px;
    text-align: center;
    border-style: solid;
    border-radius: 6px;
    border-color: darkgreen;
    font-family: 'EB Garamond', serif;
    color: darkgreen;
}
.recipe
{
    background-color: bisque;
    box-shadow: 5px 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: darkgreen;
    margin: 10px;
    font-family: 'EB Garamond', serif;
}
#h1
{
    text-align: center;
    height: 80px;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    color: darkgreen;
    border-style: solid;
    border-color: darkgreen;
    font-family: 'EB Garamond', serif;
    box-shadow: 3px 3px black;
}
.map
{
    background-color: bisque;
    box-shadow: 5px 3px black;
    height: 400px;
    border-style: solid;
    border-radius: 6px;
    border-color: darkgreen;
    text-align: center;
    font-family: 'EB Garamond', serif;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    font-size: 24px;
}
#h
{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    color: darkgreen;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
}
.btn
{
    box-shadow: 2px 2px black;
    background-color: darkgreen;
    border-radius: 6px;
    margin-left: 10px;
    font-family: 'EB Garamond', serif;
    color: whitesmoke;
    
}
.dropdown-menu
{
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
}
.dropdown-item
{
    background-color: whitesmoke;
    font-family: 'EB Garamond', serif;
}
#p
{
    font-size: 24px;
    color: darkgreen;
    font-family: 'EB Garamond', serif;
    text-align: center;
    background-color: bisque;
    border-style: solid;
    border-color: darkgreen;
    border-radius: 6px;
    box-shadow: 3px 3px black;
}
#h1
{
    font-family: 'EB Garamond', serif;
    background-color: bisque;
    box-shadow: 3px 3px black;
}
#add
{
    background-color: darkgreen;
    color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
}
#submit
{
    background-color: darkgreen;
    color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
}
.input-group-text
{
    color: whitesmoke;
    background-color: darkgreen;
    border-style: solid;
    border-color: black;
}
.custom-select
{
    color: whitesmoke;
    background-color: darkgreen;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
